/* Carousel for sliding images */
[type= radio]{
    display: none;
  }
  .pics{
    height: 350px;
    width: 100%;
    text-align: center;
  }
  #slider{
    height: 45vh;
    perspective: 1000px;
    position: relative;
    top: 20px;
    transform-style: preserve-3d;
    /* border: 2px solid red; */
  }
  #slider label{
    margin: auto;
    height: 100%;
    width: 60%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
  }
  
  #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-30%,0,-200px);
  }
  
  #s1:checked ~ #slide5, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
  }
  
  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3, #s4:checked ~ #slide4,
  #s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
  }
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-200px);
  }

  /* set birthday counter */

  .set_container{
    background-color: rgb(41, 38, 38);
    height: 100vh;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #counter-header{
    color: aliceblue;
    margin-top: -150px;
    font-weight: 900;

  }
  .form{
    height: auto;
    /* border: 1px solid white; */
  }
  input{
    height: 45px;
    width: 350px;
    border-radius: 5px;
    background: transparent;
    margin-bottom: 20px;
    border-style: solid;
    font-size: 20px;
    color: whitesmoke;
  }
  select, button{
    height: 50px;
    width: 358px;
    border-radius: 5px;
    background: transparent;
    margin-bottom: 20px;
    border-style: solid;
    font-size: 20px;
    color: whitesmoke;
  }
  button:hover{
    cursor: pointer;
  }
  button{
    margin-left: -0px;
    font-size: 25px;
  }
  option{
    background-color: aliceblue;
  }