/* container images */
[type= radio]{
    display: none;
  }
  .pics{
    height: 395px;
    width: 300px;
    text-align: center;
  }
  .pic-container{
    display: flex;
    justify-content: space-around;
    /* width: 50%; */
  }
  .outer1, .outer2{
    width: 49.5%;
    display: inline-block;
  }
  .outer2{
    vertical-align: top;
  }
  .pics1{
    height: 395px;
    width: 800px;
    text-align: center;
  }
  @media only screen and (max-width: 700px) {
    .pics1{
      height: 395px;
      width: 600px;
      text-align: center;
    }
  }
  
  /* set birthday counter */

  .set_container{
    background-color: rgb(41, 38, 38);
    height: 100vh;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #counter-header{
    color: aliceblue;
    margin-top: -150px;
    font-weight: 900;

  }
  .form{
    height: auto;
    /* border: 1px solid white; */
  }
  input{
    height: 45px;
    width: 350px;
    border-radius: 5px;
    background: transparent;
    margin-bottom: 20px;
    border-style: solid;
    font-size: 20px;
    color: whitesmoke;
  }
  select, button{
    height: 50px;
    width: 358px;
    border-radius: 5px;
    background: transparent;
    margin-bottom: 20px;
    border-style: solid;
    font-size: 20px;
    color: whitesmoke;
  }
  .set{
    background-color: rgb(53, 199, 192);
  }
  button:hover{
    cursor: pointer;
  }
  button{
    margin-left: -0px;
    font-size: 25px;
  }
  option{
    background-color: aliceblue;
  }
  .hold{
    background-color: palevioletred;
  }